<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>This app sends notifications to remind you about street cleaning times so you can move your car before getting a ticket.</string>
	<key>UIAppFonts</key>
	<array>
		<string>HWYGCOND.TTF</string>
		<string>HWYGOTH.TTF</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>external-accessory</string>
		<string>audio</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.apple.carplay</string>
	</array>
</dict>
</plist>
