<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvsgGiWeGogXBbcXjMd8f4KbnXry_qVz4</string>
	<key>GCM_SENDER_ID</key>
	<string>535769089234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zshor.SFParkingApp</string>
	<key>PROJECT_ID</key>
	<string>sf-parking-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sf-parking-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535769089234:ios:849bfda234533a548f590b</string>
</dict>
</plist>